<h2>Mas de 50 años atendiendo a los larenses</h2>
<br>
<p>Fue en Agosto del año de 1951, cuando Victor Marmol (padre), a la cabeza de un grupo de pioneros del comercio en la pueblerina Barquisimeto, formalizó la constitución de la empresa;  “Agencia Royal Victor Marmol CA”,  con la  finalidad de ofrecer la  venta de vehículos automotrices  y su respectivo servicio técnico. </p>
<p>Tiempos difíciles aquellos de la post guerra. El Sr. Victor comentaba que habían días en que parados en la puerta contaban a las personas que pasaban por el frente de la tienda y decían “cuando será que por aquí pasen tantas personas como por la 25”.</p>
<p>Eran los tiempos de pioneros, hombres emprendedores, que no se amilanaban con las duras circunstancias de una post guerra.</p>
<p>Años después se  amplió el universo de ventas a los enseres del hogar, electrodomésticos, línea blanca y los colchones y box.  Esta última línea vino a constituir un trampolín  en el desarrollo de la compañía.</p>
<p>Siempre la filosofía de la empresa fue clara en cuanto a que su objetivo era servir a las clases más desposeídas, por lo que desde sus inicios y aun hoy día  la venta a crédito representa el fuerte de la venta en Agencia Royal.</p>
<p>Un hecho singular lo representa el paso de vender colchones a crédito cuando era un producto que todos vendían al contado. Eso representó un verdadero acontecimiento a nivel nacional, y desde esa fecha surgieron casas comerciales ofertando a crédito los colchones. </p>
<p>Hoy en día, bajo de dirección del Sr. Víctor Mármol (hijo), y después de mas de 56 años sirviendo a los Larenses, esta empresa familiar incorpora para la venta a Crédito todo lo que constituye su objeto de venta.</p>
<p>La filosofía sigue siendo la misma, <strong>llegar a las clases mas necesitadas con productos de excelente calidad y con facilidades de pago.</strong> </p>



