<h1>Mensajes enviados</h1>

<h3><%= @msj_enviados_count %> Mensajes fueron agendados para ser enviados</h3>
<h3><%= @msj_no_enviados_count %> Mensajes no fueron enviados debido a que el numero no es adecuado</h3>
<h3><%= @msj_error_count %> Mensajes presentaron errores al intentar ser enviados</h3>

<%= link_to "Culminar", cobranzas_path  %>