<hr>
<div id="container">
    <div id="content" class="wrap">
        <h2>Más de 50 Años sirviendo al Larense</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div> <!-- / #container -->        

<hr>