        <hr>
        
        <div id="container">
            <div id="content" class="wrap">                
                
                <div class="cols marginBottom30 clearFix">
                    
                    <div class="col1-3">
                        <h2 class="separate">CrediFlash</h2>
                        <div class="content withIcon icon1"><p>Crédito al instante, sin mucho papeleo y sin trámites engorrosos.</p></div>
                    </div>
                    
                    <div class="col1-3">
                        <h2 class="separate">Un giro a la vista</h2>
                        <div class="content withIcon icon2"><p>Paga tu inicial al mismo valor de tu giro mensual.</p></div>
                    </div>
                    
                    <div class="col1-3">
                        <h2 class="separate">LLévatelo sin Inicial</h2>
                        <div class="content withIcon icon3"><p>Llévate tu crédito sin inicial.</p> <small>(Bajo ciertas condiciones)</small> </div>
                    </div>
                    
                </div>                                
                                
            </div> <!-- / .wrap -->
        </div> <!-- / #container -->        
        
        <hr>
        
        <div id="twitterBar">
            <div class="wrap">
                <span class="icon"></span>
                <p>
                    <div id="tweets"></div>
                </p>
            </div>
        </div>