<h2>Estado de Cuenta</h2>

<%= form_for @cliente, :url => show_cuenta_path do |f| %>

<%= f.label :cedula %>
<%= f.text_field :co_cli, :class => 'input-medium search-query' %>
<%= submit_tag "Buscar", :class => 'bnt' %>
<% end %>
