<h2>Estado de Cuenta</h2>

<%= form_for @cliente, :url => show_cuenta_path do |f| %>
<p>
<%= f.label :co_cli %>
<%= f.text_field :co_cli %>
</p>
<%= submit_tag "Buscar" %>
<% end %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>