/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require bootstrap-datepicker
 */

.navbar .brand_auth {
float: right;
display: block;
padding: 10px 20px 10px;
margin-left: -20px;
font-size: 14px;
font-weight: 150;
color: #777777;
text-shadow: 0 1px 0 #ffffff;
}