            <div id="footer">
                
                <div class="wrap clearFix">
                    
                    <div class="col1-4">
                        <a href="./" id="footerLogo">Agencia Royal 33<span>*</span></a>
                        
                        <p class="light">&copy; 2012, Todos los Derechos Reservados.</p>
                        <p>Tip: <a href="http://www.cotecso.com.ve/">Desarrollado por Cotecso</a></p>
                    </div>
                    
                    <div class="col1-4">
                        <h3>Acerca de Nosotros</h3>
                        
                        <p>Servimos con honestidad, responsabilidad y entusiasmo a todos nuestros clientes, ayudandoles  en la solución de sus problemas.</p>
                        <p>.</p>
                    </div>
                    
                    <div class="col1-4">
                        <h3>Siguenos</h3>
                        
                        <p class="followUs clearFix">
                            <a href="http://www.facebook.com/pages/Agencia-Royal-33-CA/502120049816762" class="facebook">Facebook</a>
                            <a href="https://twitter.com/agenciaroyal33" class="twitter">Twitter</a>
                        </p>
                    </div>
                    
                    <div class="col1-4">
                        <h3>Intranet de Agencia Royal</h3>
                        
                        <a href="/intranet" class="button" title="Intranet de Agencia Royal"><span>Intranet</span></a>
                    </div>
                    
                </div>
                
            </div>
