                    <nav>
                        <ul>
                            <li>
                                <a href="/" title="Principal">
                                    <strong>Principal</strong>
                                    <span>Lo mas Importante</span>
                                </a>
                            </li>
                            <li>
                                <a href="/history" title="Historia">
                                    <strong>Historia</strong>
                                    <span>Nuestra Historia</span>
                                </a>
                            </li>
                            <li>
                                <a href="/products" title="Productos">
                                    <strong>Productos</strong>
                                    <span>Nuestros Productos</span>
                                </a>
                            </li>                            
                            <li>
                                <a href="/services" title="Servicios">
                                    <strong>Servicios</strong>
                                    <span>Atención a Nuestros Clientes</span>
                                </a>
                            </li>
                            <li>
                                <a href="/contact" title="Contactanos">
                                    <strong>Contactanos</strong>
                                    <span>Comunicate con Nosotros</span>
                                </a>
                            </li>
                        </ul>          
                    </nav>
