            <div class="wrap">
                <div id="header">   

                    <a id="logo" href="./" title="Agencia Royal 33">Agencia Royal 33<span>*</span></a>
                    
                    <hr> 
                    
                    <%= render 'layouts/header_menu' %>
                </div> <!-- / #header -->

                <hr>

                <div id="intro">
                        
                    <h1>Somos Agencia Royal!</h1>
                    <h2>Mas de 50 Años sirviendo al Larense</h2>
                    
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    
                    <a href="./" class="button" title="MORE ABOUT US"><span>Más Acerca de Nosotros</span></a>
                    
                    <div id="macbook">
                        <img src="/img/electro_1.jpg" alt="Screen">
                    </div>

                </div> <!-- / #intro -->
                
                <hr>

                <div id="subIntro">
                        
                    <div class="floatLeft">
                        <h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy</h2>                    
                        <p class="large">Dolore magna aliquam erat volutpat.</p>
                    </div>
                    
                    <a href="./" class="button floatRight" title="Servicios al Cliente"><span>Servicios al Cliente</span></a>

                </div> <!-- / #subIntro -->
                
            </div>