            <div class="wrap">
                <div id="header">   

                    <a id="logo" href="./" title="Agencia Royal 33">Agencia Royal 33<span>*</span></a>
                    
                    <hr> 
                    
                    <%= render 'layouts/header_menu' %>
                </div> <!-- / #header -->

                <hr>

                <div id="intro">
<!--                         <UL>
                            <LI>
                                <div id="dos">
                                    <h1>CreditFlash!</h1>
                                    <h2>Crédito al Instante</h2>
                                    
                                    <p>¡Sin papaleos!</p>
                                    
                                    <a href="/" class="button" title="MÁS ACERCA DE CREDIFLASH"><span>Más Acerca de CrediFlash</span></a>
                                    
                                    <div id="macbook">
                                        <img src="/img/electro_1.jpg" alt="Screen">
                                    </div>
                                </div> 
                            </LI>
                        </UL>
 -->
                    <div id="slider">
                        <UL>
                            <LI>
                                <div id="uno">
                                    <h1>Somos Agencia Royal!</h1>
                                    <h2>Mas de 50 Años sirviendo al Larense</h2>
                                    
                                    <p>Perseveramos en el propósito de servir.</p>
                                    
                                    <a href="/historia" class="button" title="MÁS ACERCA DE NOSOTROS"><span>Más Acerca de Nosotros</span></a>
                                    
                                    <div id="macbook">
                                        <img src="/img/electro_1.jpg" alt="Screen">
                                    </div>                        
                                </div>                            
                            </LI>
                        </UL>
                    </div>
                </div> <!-- / #intro -->
                
                <hr>

                <div id="subIntro">
                        
                    <div class="floatLeft">
                        <h2>Conoce los servicios para nuestros clientes y mantente al día.</h2>                    
                        <p class="large">Mantente al día con nuestros Servicios al Cliente.</p>
                    </div>
                    
                    <a href="/servicios" class="button floatRight" title="Servicios al Cliente"><span>Servicios al Cliente</span></a>

                </div> <!-- / #subIntro -->
                
            </div>