            <div class="wrap">
                <div id="header">   

                    <a id="logo" href="./" title="Agencia Royal 33">Agencia Royal 33<span>*</span></a>
                    
                    <hr> 
                    
                    <%= render 'layouts/header_menu' %>
                </div> <!-- / #header -->
                
                <hr>                
            </div>